.scrolled{
    position: fixed; top: 0; left: 0; width: 100%; background-color: blue; z-index: 999;
}
.text-container {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
  }
  
  .animated-text {
    font-size: 3rem;
    opacity: 0;
    transform: translateY(100%);
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }